.profile {

	&__image {
		margin-bottom: 17px;
	}

	&__title {
		font-weight: bold;
		line-height: 18px;
		font-family: $font-secondary;
		margin-bottom: 12px;
		font-size: 14px;
	}

	&__text {
		font-weight: 300;
		line-height: 14px;
		margin-bottom: 22px;
		font-size: 14px;
		line-height: 16px;
	}

	@media ( min-width: 642px ) {

		margin-bottom: 54px;

	}
}

@media ( min-width: 642px ) {
	[class*="column"]+[class*="column"]:last-child {
	    float: left;
	}
}