.section {

	&__title {
		color: $color-black;
		font-size: 22px;
		line-height: 26px;
		font-weight: bold;
		font-family: $font-secondary;
		margin-top: 0;
		margin-bottom: 15px;
	}

	@media (min-width: 642px ) {

		&__title {
			margin-bottom: 35px;
		}

	}

}

.section--hero {
	height: 100vh;
	background-image: url( '../img/hero-bg-compressor.jpg' );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.row, 
	.columns {
		height: 100%;
	}

}

.section--steps {
	padding-top: 35px;

	@media (min-width: 642px ) {
		padding-top: 95px;
	}

}

.section--profiles {
	padding-top: 36px;

	.section {

		&__title {
			margin-bottom: 14px;
		}

		&__button {
			margin-top: 20px;
			margin-bottom: 0;
			border: 2px solid #FF4E50;
			background: transparent;
			color: #FF4E50;
			font-weight: bold;
			width: 280px;
		}
	}


	@media ( min-width: 642px ) {
		padding-top: 95px;
		padding-bottom: 95px;

		.section {

			&__title {
				margin-bottom: 34px;
			}
		}
	}
}

.section--discover {
	padding-top: 35px;

	.section {

		&__title {
			line-height: 27px;
			margin-bottom: 33px;
		}

	}
}


.section--create {
	padding-top: 35px;
	padding-bottom: 40px;

	.section {
		
		&__title {
			margin-bottom: 9px;
		}

		&__lead {
			font-size: 18px;
			color: #666666;
			margin-bottom: 15px;
		}

		&__input {
			border: 1px solid #ECECEC;
			border-radius: 3px;
			box-shadow: 0 0 3px black;
			width: 280px;
			height: 40px;
			font-size: 14px;
			margin-bottom: 10px;
			padding-left: 20px;
		}

		&__button {
			width: 280px;
			font-weight: bold;
		}
	}

	@media ( min-width: 642px ){

		padding-top: 95px;
		padding-bottom: 100px;
		
		.section {

			&__title {
				margin-bottom: 42px;
			}

			&__lead {
				margin-bottom: 28px;
			}

			&__input {
				width: 300px; 
				margin-right: 10px;
			}

			&__button {
				width: 190px;
				line-height: 18px;
			}
		}
	}
}










